<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="winlab.sensoradventure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SensorAdventureActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".winlab.sensoradventure.SensorMonitor" />
        <activity android:name=".winlab.SensorGUI.SensorGUIActivity" />
        <activity android:name=".winlab.sensoradventure.gps.MainActivity" />
        <activity android:name=".winlab.sensoradventure.SendAll.java" />
        <activity android:name="winlab.SensorGUI.OptionsGUI" />
        <activity android:name="winlab.SensorGUI.StartGUI" />

        <service
            android:name=".RunningService"
            android:enabled="true" />
        <service
            android:name=".Sensors_SQLite_Service"
            android:enabled="true" />
        <service
            android:name=".winlab.sensoradventure.gps.GPSloggerservice"
            android:enabled="true" />
        <service
            android:name=".winlab.sensoradventure.gps.GPSloggerservicedb"
            android:enabled="true" />
        <service 
            android:enabled="true" 
            android:name=".RunningServiceSQLite" />
        <service 
            android:enabled="true" 
            android:name=".InsertToTable" />
        <activity android:name="winlab.SensorGUI.AdvanceSettingsGUI"/>
        <activity android:name="winlab.sensoradventure.ControlSensorActivity"/>
    </application>

</manifest>